@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.imagen {
    width: 1140px;
    height: 546px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#content img{
	width: 32%;
	margin-left: 1%;
}
#content p {
    display: inline;
}