@import 'global';

.imagen {
    max-width: 100%;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: $tipografia;
    text-align: center;
}

#content img{
	width: 32%;
    margin-left: 1%;
    position: relative;
}
#sele1 {
    position: relative;
}
/* #content p {
    display: inline;
}*/

.mini {
    font-family: $parrafo;
    font-size: 36px;
    background-color: rgba(0,0,0, 0.7);
    z-index: 1000;
    width: 17.8%;
    height: 60px;
    text-align: center;
    color: $color;
    position: absolute;
}

.parra {
    margin-top: -65px;
    margin-left: 392px;
}

.cuba {
    margin-top: -65px;
    margin-left: 772px;
}

.mar {
    margin-top: -103px;
    margin-left: 11px;
}

.mas {
    font-family: $tipografia;
    font-size: 19px;
    background-color: rgba(0,0,0, 0.7);
    width: 17.8%;
    height: 37px;
    text-align: right;
    position: absolute;
    z-index: 1000;
    color: $color;
}

.mas::after {
    content: '+';
    color: $color;
    font-weight: bold;
    margin-left: 66px;
    margin-right: 20px;
}


.posi {
    margin-top: -43px;
    margin-left: 11px;
}
