@import 'global';

.imagen {
    max-width: 100%;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: $tipografia;
    text-align: center;
}

#content img{
	width: 32%;
	margin-left: 1%;
}

#content p {
    display: inline;
}