@import 'global';

#footer{
	position: relative;
	background-color: rgb(41, 40, 40);
	color: $color;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 3%;
}
#footer ul{
	padding-bottom: 9%;
	padding-top: 4%;
	padding-left: 23%;
	list-style: none;
}
#footer ul li{
	float: left;
	padding-left: 4%;
}
#footer ul li a{
    text-decoration: none;
    text-transform: $mayusculas;
    color: $color;
    font-family: $tipografia;
}
.facebook {
	position: absolute;
	top:50%;
	left: 49%;
}
.fondo {
	margin-top: 1%;
	text-align: center;
    padding-bottom: 3%;
    font-family: $tipografia;
    font-size: 18px;
}