@import 'global';

#header {
    width: 960px;
    margin: 0 auto;
}
.color {
    margin: 0 auto;
    background-color: #000316;
    
}

#logo img{
    float: left;
    margin-top: 43px;
    margin-bottom: 43px;
    width: 103px;
    height: 30px;
}

.logo {
    max-width: 30%;
}

#nav {
    float: right;
    margin-top: 30px;
}

.list {
    list-style: none;
    padding: 0;
}

.list li{
    float: left;
}

.list li + li {
    margin-left: 43px;
}

.list  a {
    text-transform: $mayusculas;
    text-decoration: none;
    font-size: $tamaño;
    font-family: $tipografia;
    color: $color;
    position: relative;
}

.nav-link-menu {
    display: none;
    font-family: $tipografia;
    font-size: $tamaño;
    text-transform: $mayusculas;
    color: $color;
}