@media(max-width: 767px){

    #content img {
        width: 20%;
        margin-left: 2%;
    }

    .imagenes + .imagenes {
        margin-top: 1%;
        margin-left: 0%;

    }

    #content .barco {
        margin-left: 18%;
    }

}